.main_view {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 281px;
    height: 752px;
    border: 3px solid #7bb8f9;
    border-radius: 15px;
    background: url("../images/bd.png") no-repeat;
    background-size: cover;
}

.chatPart {
    position: relative;
    top: -8px;
    left: 284px;
}

.nickname-text {
    position: absolute;
    top: 12px;
    left: 90px;
    font-size: 22px;
}

.nickname-text2 {
    position: relative;
    top: -10px;
    left: 15px;
    font-size: 18px;
}.nickname-text3 {
    position: relative;
    top: -45px;
    left: 12px;
    font-size: 18px;
}

.title01 {
    position: relative;
    top: 10px;
    width: 130px; /* 宽度 */
    height: 44px; /* 高度 */
    border-width: 0px; /* 边框宽度 */
    border-radius: 3px; /* 边框半径 */
    background: #1E90FF; /* 背景颜色 */
    cursor: pointer; /* 鼠标移入按钮范围时出现手势 */
    outline: none; /* 不显示轮廓线 */
    font-family: Microsoft YaHei; /* 设置字体 */
    color: white; /* 字体颜色 */
    opacity: 0.7;
}

.title02 {
    position: absolute;
    left: 247px;
    top: 0px;
    width: 31px; /* 宽度 */
    height: 31px;
    background: url('../images/down.png') no-repeat;
    background-size: 100% auto;
    border-color: #85f2ff;
    border-radius: 15px;
}

.search_bar {
    position: relative;
    top: -9px;
    left: 10px;
}

.searText {
    width: 225px;
    height: 23px;
    background-color: #59c2f9;
    border-color: #55ecf9;
}

.searButton {
    position: absolute;
    top: -3px;
    left: 238px;
    width: 31px; /* 宽度 */
    height: 31px;
    background: url('../images/110.png') no-repeat;
    background-size: 100% auto;
    border-color: #48fcff;
    border-radius: 15px;
}

.line_head {
    position: relative;
    top: 5px;
    width: 279px;
    height: 2px;
    background-color: #119ef9;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.add {
    position: absolute;
    left: 247px;
    top: 48px;
    width: 31px; /* 宽度 */
    height: 31px;
    background: url('../images/add.png') no-repeat;
    background-size: 100% auto;
    border-color: #48fcff;
    border-radius: 15px;
}

.name {
    font-size: large;
}

.i01 {
    height: 17px;
    width: 17px;
    border: 2px solid grey;
    border-radius: 25px;
}

.addFriend {
    position: relative;
    left: 277px;
    top: -7px;
    width: 408px;
    height: 320px;
    float: left;
    /*background: #ddebff;*/
    border: 2px solid #81bcff;
    border-radius: 15px;
    background: url("../images/bd.png") no-repeat;
    background-size: cover;
}

.addTitle {
    position: absolute;
    top: 5px;
    left: 80px;
    font-family: "YouYuan";
    font-size: 35px;
}

.search01 {
    height: 30px;
    width: 330px;
    position: absolute;
    top: 97px;
    border: 2px black solid;
    border-radius: 15px;
}

.searchB {
    position: absolute;
    top: 100px;
    left: 375px;
    height: 30px;
    width: 30px;
    background: url("../images/search.png");
    background-size: 100% auto;
    border: #fdfdff;
}

.off01 {
    position: relative;
    left: 376px;
    height: 30px;
    width: 32px;
    background: url("../images/off.png");
    background-size: 100% auto;
    border: #fdfdff;
    border-radius: 15px;
}

.off02 {
    position: relative;
    top: -1px;
    left: 379px;
    height: 30px;
    width: 32px;
    background: url("../images/off.png");
    background-size: 100% auto;
    border: #fdfdff;
    border-radius: 15px;
}

.af01 {
    position: absolute;
    top: 160px;
    left: 34px;
    width: 330px;
}

.addB {
    position: absolute;
    top: 183px;
    left: 376px;
    height: 30px;
    width: 30px;
    background: url("../images/add01.png");
    background-size: 100% auto;
    border: #fdfdff;
}

.chatView {
    position: relative;
    left: -5px;
    width: 410px;
    height: 752px;
    /*background: #ddebff;*/
    float: left;
    border: 3px solid #81bcff;
    border-radius: 15px;
    background: url("../images/bd.png") no-repeat;
    background-size: cover;
}

.top1 {
    /*background: rgb(255, 255, 255);*/
    border-bottom: 1px solid #5cd3ff;
    position: relative;
    width: 413px;
    height: 60px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.img1 {
    position: absolute;
    top: 10px;
    left: 15px;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%
}

.img2 {
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%
}

.img3 {
    position: absolute;
    top: 3px;
    left: 320px;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%
}

.img4 {
    position: relative;
    left: 12px;
    top: 12px;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.img5 {
    position: relative;
    left: 10px;
    top: 10px;
    display: block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.img6 {
    position: relative;
    left: 10px;
    top: 10px;
    display: block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
}

.img7 {
    position: relative;
    left: 10px;
    top: -25px;
    /*top: 10px;*/
    display: block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.timeView {
    position: absolute;
    top: 25px;
    left: 253px;
}

.nameA0 {
    position: absolute;
    top: 5px;
    left: 70px;
    font-size: 20px;
}

.chatMess {
    position: relative;
    top: 5px;
    left: 50px;
    width: 280px;
    font-size: 20px;
    border-radius: 15px;
    border: 2px solid #3295ff;
    background-color: #63f0ff;
    word-wrap: break-word;
    word-break: break-all;
}

.chatMess2 {
    position: relative;
    top: 5px;
    left: 26px;
    width: 280px;
    font-size: 20px;
    border-radius: 15px;
    border: 2px solid #3295ff;
    background-color: #63f0ff;
    word-wrap: break-word;
    word-break: break-all;
}

.inputView {
    /*background: rgb(255, 255, 255);*/
    opacity: 0.7;
    border-top: 3px solid #080f10;
    border-left: 2px solid #080f10;
    position: absolute;
    left: -1px;
    top: 641px;
    width: 412px;
    height: 100px;
}

.textA {
    position: absolute;
    /*background-color:transparent;*/
    /*top:10px;*/
    opacity: 0.9;
    width: 363px;
    height: 105px;
    font-size: 20px;
    font-family: "微软雅黑";
    border-bottom-left-radius: 15px;
    /*border-top: #3295ff solid 1px;*/
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    resize: none;
}

.sendB {
    position: absolute;
    top: -2px;
    right: 1px;
    float: right;
    width: 50px;
    height: 113px;
    font-size: 25px;

    font-family: "Andale Mono";
    border-color: #4377f9;
    border-bottom-right-radius: 15px;
}

.chatContent {
    position: absolute;
    top: 60px;
    /*width: 360px;*/
    overflow: auto;
    width: 415px;
    height: 579px;
}

.chatContent::-webkit-scrollbar {
    width: 3px;
}

.chatContent::-webkit-scrollbar-thumb {
    background-color: #3fc7ff;

}

.messC {
    position: relative;
    top: 10px;
    left: 15px;
    width: 320px;
    margin-bottom: 15px;
}

.messCB {
    position: relative;
    top: 10px;
    left: 40px;
    width: 340px;
    margin-bottom: 15px;
}

.oim-main-list-pane {
    width: 100%;
    position: absolute;
    top: 130px;
    right: 0;
    bottom: 0;
    left: 0
}

.scrollC {
    position: absolute;
    left: 405px;
    border: #ff484d 1px solid;
    overflow-y: scroll;
    height: 450px;
    width: 10px;
}

.agree {
    position: relative;
    top: 10px;
    left: 120px;
    border-radius: 15px;
    width: 65px;
    height: 40px;
    background-color: #aef8ff;
    border: #3fa4ff 2px solid;
}

.disagree {
    position: relative;
    top: 10px;
    left: 150px;
    border-radius: 15px;
    width: 65px;
    height: 40px;
    background-color: #aef8ff;
    border: #3fa4ff 2px solid;
}

.only-full-pane, .only-table-pane {
    width: 100%;
    height: 100%
}

.only-scrollbar-y {
    overflow-y: hidden
}

.icon-list-item.active1 {
    background: #d8eeff;
    border: 1px solid #5cd3ff;
    width: 259px;
    height: 78.5px;
    border-radius: 15px;
}

.icon-list-item.active2 {
    position: relative;
    bottom: 2px;
    left: 10px;
    background: #d8eeff;
    border: 1px solid #5cd3ff;
    width: 259px;
    height: 78.5px;
    border-radius: 15px;
}

.icon-list-item .avatar {
    float: left;
    margin-right: 10px;
    position: relative
}

.icon-list-item .avatar .img {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%
}

.messTime {
    position: relative;
    left: 135px;
    top:48px;
    width: 150px;
    font-size: 10px;
}
.msg{
    position: relative;
    top:-55px;
    left: 68px;
    font-size: 10px;
    width: 190px;
    height: 20px;
    display:-webkit-box;				/*弹性伸缩盒子*/
    -webkit-box-orient:vertical;		/*子元素垂直排列*/
    white-space:nowrap;					/*溢出不换行*/
    line-clamp:1;
    -webkit-line-clamp:1;				/*显示的行数*/
    overflow:hidden;					/*溢出部分隐藏*/
    text-overflow:ellipsis ;		    /*溢出部分用省略号显示*/
}



