<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>friend_view</title>
    <script src="webjars/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/my.css">
    <script src="js/my.js"></script>
</head>
<body>
<div class="oim-main-navoim-meta-pane">
    <div class="oim-main-personal-info">
        <button type="button" class="title02" onclick="exit()"></button>
        <button type="button" class="add" onclick="add()"></button>
        <div class="avatar"><img
                src="images/8.jpg"
                alt="avatar" class="img4"></div>
        <div class="info"><h3 class="nickname">
            <span class="nickname-text" id="name01">[[${session.username}]]</span>
        </h3>
            <p class="msg"><span></span></p></div>
    </div>
    <div class="oim-search-bar"><i class="oim-search-icon fas fa-search"></i><input type="text"
                                                                                    placeholder="搜索"
                                                                                    class="input-search01">
        <div tabindex="-1" class="only-popup recommendation" style="display: none;">
            <div style="position: relative;">
                <div class="results" style="margin-bottom: 0px; margin-right: 0px; overflow-y: auto;">
                    <div class="result-list">
                        <div class="top-placeholder " style="height: 0px;"></div><!----><!----><!----><!---->
                        <div class="bottom-placeholder"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="padding-bottom: 16px;"></div>
    <div class="oim-main-list-pane">
        <div class="q-tab-panels q-panel-parent">
            <div role="tabpanel" class="q-panel scroll">
                <div>
                    <div align="center">
                        <button type="button" id="mess_button" class="title01" onclick="message()">消息</button>
                        <button type="button" id="relation_button" class="title01" onclick="relation()">联系人</button>
                    </div>
                    <br>
                    <div id="content" style=" overflow-y:auto; overflow-x:auto; width:279px; height:570px;">
                        <div id="mess01" class="only-full-pane only-scrollbar-y"
                             style="height: 100%;">
                            <div id="news">
                            </div>
                        </div>
                        <div id="relation01" class="title"
                             style="position: absolute;left:10px; overflow-x:auto; width:400px; height:560px;">
                            <div>
                                <button id="dis01" onclick="display01('content0')" class="i01"></button>&nbsp;
                                <label class="name">我的好友</label><label id="count0" class="count"></label>
                                <div id="content0" class="content" style="display: none;width: 350px;">
                                </div>
                            </div>
                            <div>
                                <button class="i01" onclick="display01('content1')"></button>&nbsp;
                                <label class="name">我的家人</label><label id="count1" class="count"></label>
                                <div id="content1" class="content" style="display: none;width: 350px">
                                </div>
                            </div>
                            <div>
                                <button class="i01" onclick="display01('content2')"></button>&nbsp;
                                <label class="name">我的同学</label><label id="count2" class="count"></label>
                                <div id="content2" class="content" style="display: none;width: 350px">
                                </div>
                            </div>
                            <div>
                                <button class="i01" onclick="display01('content3')"></button>&nbsp;
                                <label class="name">我的同事</label><label id="count3" class="count"></label>
                                <div id="content3" class="content" style="display: none;width: 350px">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="addFriend" id="first_add" hidden="true">
    <h4 align="center" class="addTitle">《-添加好友-》</h4>
    <button type="button" class="off01" onclick="exitS('first_add')"></button>
    <input type="text" placeholder="搜索" class="search01" id="sear01">
    <button type="button" class="searchB" onclick="search01()"></button>
    <div id="tip02" style="position: absolute;top: 135px;left:120px;color: #4c39ff"></div>
    <div id="addF01" class="af01"></div>
    <button type="button" id="addB01" onclick="addFriend()" class="addB" hidden="true"></button>
    <div id="tip03" style="position: absolute;top: 280px;left:95px;color: #4c39ff;font-size: large"></div>
</div>
<div class="chatPart" id="chatPart">
</div>
</body>
</html>